	.wd_1000{width: 1000px;margin: 0 auto;}
    .header{height: 86px;}
    .content{height: 450px;border: 1px solid #ededed;padding: 35px 15px 0;}
    .footer{height: 80px;line-height: 80px;color: #999;font-size: 12px;text-align: center;}
    .head_title{color: #35B558;font-size: 24px;font-family: Arial;font-weight: bold;line-height: 86px;width: AUTO;float: left;}
    .head_ass{color: #35B558;font-size: 14px;font-family: Arial;font-weight: bold;line-height: 86px;width: 150px;float: left;}
    .head_help{float: right;line-height: 86px; }
    em{font-style: normal;}
    .top_help{font-size: 12px;color: #666;}
    .content_left{width: 625px;margin-right: 30px;float: left;height: 450px;}
    .content_right{float:right;border-left:1px solid #ededed;width: 300px;height: 425px;}
    .content_form{margin-top: 40px;}
    .content_titles{height: 38px;border-bottom: 2px solid #EFEFEF;display: inline-block;width: 625px;font-weight: bold;font-size: 14px;}
    .content_title{width: 130px;height: 38px;color:#333;line-height: 38px;text-align: center;border-bottom: 2px solid #EFEFEF;display: inline-block;cursor: pointer;}
    .content_title:hover{width: 130px;height: 38px;line-height: 38px;color:#35b558;text-align: center;border-bottom: 2px solid #35b558;display: inline-block;cursor:pointer}
    .content_title_select{width: 130px;height: 38px;line-height: 38px;color:#35b558;text-align: center;border-bottom: 2px solid #35b558;display: inline-block;cursor:pointer}
    .input_control{margin-bottom: 20px;}
    .form_left{width:80px;display: inline-block;text-align: right;font-family: "Lantinghei SC";font-size: 14px;color: #666;}
    .form_one{width: 240px;height: 38px;border: 1px solid #ccc}
    .form_two{width:80px;height: 38px;border: 1px solid #ccc}
    .form_button{width: 160px;height: 40px;background: #35b558 none repeat scroll 0 0;transform:translateZ(0px);transition-duration:0.8s;border-radius: 3px;color: #ffffff;cursor: pointer;font-size: 16px;font-weight: bold;}
    .form_button:active,.form_button:focus,.form_button:hover{background: #66d178 none repeat scroll 0 0;}
    ._font{color: #666;font-size: 12px;}