<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>Pythip</display-name>
  
  <!-- 当tomcat运行多个项目时，webAppRootKey要不同 -->
  <context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>Pythip</param-value>
  </context-param>
  
	<!-- 设置session的默认超时时间 单位(分钟) -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- 加载日志模块,先于ContextLoaderListener加载 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- SpringMVC -->
  <servlet>
  	<servlet-name>SpringMVC</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/spring-*.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>SpringMVC</servlet-name>
 	 <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- 容器垃圾清理监听器,解决quartz之类引起的内存泄露  -->
	<listener> 
	    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> 
 	</listener>

	<!-- 字符集 过滤器  -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<!--404错误或资源找不到时的默认页面！( 通过错误码来配置error-page)  -->
    <!--error-page>   
        <error-code>404</error-code>   
        <location>/nofind</location>   
    </error-page-->  
    
    <!--通过异常的类型配置error-page -->
    <!--error-page>   
        <exception-type>java.lang.NullException</exception-type>   
        <location>/error.jsp</location>   
    </error-page-->  
</web-app>